.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.background-none.multicolumn__content-inside .multicolumn-card__info > :nth-child(2) {
  margin-top: 2.8rem;
}

.background-none.multicolumn__content-inside .multicolumn-list__item {
  cursor: pointer;
}


.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

.multicolumn-card__image-wrapper .media.add-gradient:after {
  background: linear-gradient(0deg, rgba(0,0,0,0.7413559173669468) 0%, rgba(0,0,0,0.35760241596638653) 70%, rgba(0,0,0,0) 100%);
  overflow: hidden;
  border-radius: calc(var(--media-radius) - var(--media-border-width));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem;
}

.background-none.multicolumn__content-inside .multicolumn-card__info,
.background-none.multicolumn__content-collage .multicolumn-card__info {
  position: absolute;
  top: calc(100% - 94px);
  height: 100%;
  transition: top var(--duration-default) ease;
  background: rgba(var(--color-background), 0.7);
}
.background-none.multicolumn__content-collage .multicolumn-card__info {
  background: none;
  width: 100%;
}

.background-none.multicolumn__content-inside .multicolumn-card__info.active {
  top: 0%;
}

.background-none.multicolumn__content-inside .multicolumn-card__info .inline-richtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multicolumn__content-inside.gradient,
.multicolumn__content-collage.gradient {
  background: rgba(var(--color-foreground), 1);
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none.multicolumn__content-inside .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding: 2.6rem 3.2rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.background-none.multicolumn__content-inside .multicolumn-card__image-wrapper,
.background-none.multicolumn__content-collage .multicolumn-card__image-wrapper{
  margin: 0;
  padding: 0;
}

.background-none.multicolumn__content-inside .multicolumn-card {
  position: relative;
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn.background-none.multicolumn__content-inside .multicolumn-card {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }

  .multicolumn__content-collage > div {
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    grid-template-rows: 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
  }

  .multicolumn__content-collage .title-wrapper-with-link {
    flex-direction: column;
    justify-content: center;
  }

  .multicolumn__content-collage slider-component {
    grid-area: 1 / 2 / 2 / 4;
  }

  .multicolumn__content-collage slider-component ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .multicolumn__content-collage slider-component ul li.grid__item {
    width: 100%;
    max-width: 100%;
  }
  .multicolumn__content-collage slider-component ul li:first-child {
    grid-area: 1 / 1 / 3 / 2;
  }

  .multicolumn__content-collage slider-component ul li:nth-child(2) {
    grid-area: 2 / 2 / 4 / 3;
  }

  .multicolumn__content-collage slider-component ul li:nth-child(3) {
    grid-area: 3 / 1 / 5 / 2;
  }

  .multicolumn__content-collage slider-component ul li:last-child {
    grid-area: 4 / 2 / 6 / 3;
  }
}

/*custom code*/
.multicolumn-card__icon-wrapper {
  margin-bottom: 1rem;
}

.multicolumn-card__icon-wrapper .svg-wrapper {
  width: 2.4rem;
  height: 2.4rem;
}

.with-borders {
  border-top: .1rem solid rgba(var(--color-foreground), .08);
}

.product .with-borders {
  border-top: none;
}

.multicolumn-list__item {
  position: relative;
}

.with-borders .multicolumn-list__item:not(:last-child):after {
  border-right: .1rem solid rgba(var(--color-foreground), .08);
  content: '';
  display: block;
  width: .1rem;
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
}

/*reveal icon*/


.reveal-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 4.4rem;
  height: 4.4rem;
  background-color: rgb(var(--color-foreground));
  border-radius: 50%;
}

.reveal-icon {
  position: relative;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
}

.reveal-icon::before,
.reveal-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: rgb(var(--color-background));
  transition: transform 0.3s ease;
}

.reveal-icon::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.reveal-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.multicolumn-card__info.active .reveal-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.multicolumn-card__info.active .reveal-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}